<?php
$employee = $block->getEmployee();
$departmentsData = $block->getDepartments();
$buttonLabel = 'Update';
$actionUrl = $block->getUrl('dtn_office/employee/update',['id'=>$employee->getId()]);
if (!$employee->getId()){
    $buttonLabel = 'Add';
    $actionUrl = $block->getUrl('dtn_office/employee/create');
}
?>
<form action="<?php echo $actionUrl?>">
    <p>
        Department:
        <select name="department_id">
            <option value="">Chose Department</option>
            <?php foreach ($departmentsData as $dId=>$departmentName): ?>
                <option value="<?php echo $dId?>" <?php if ($dId== $employee->getDepartmentId()): ?>selected<?php endif;?>><?php echo $departmentName?></option>
            <?php endforeach;?>
        </select>
    </p>
    <p>
        Email <input type="email" name="email" value="<?php echo $employee->getEmail(); ?>">
    </p>
    <p>
        First name <input type="text" name="firstname" value="<?php echo $employee->getFirstname(); ?>">
    </p>
    <p>
        Last name <input type="text" name="lastname" value="<?php echo $employee->getLastname(); ?>">
    </p>
    <p>
        Working Years <input type="number" name="working_years" value="<?php echo $employee->getWorkingYears(); ?>">
    </p>
    <p>
        Dob <input type="date" name="dob" value="<?php echo date("Y-m-d",strtotime($employee->getDob())); ?>">
    </p>
    <p>
        Salary <input type="text" name="salary" value="<?php echo $employee->getSalary(); ?>">
    </p>
    <p>
        Note <input type="text" name="note" value="<?php echo $employee->getNote(); ?>">
    </p>
    <p><a href="<?php echo $block->getUrl('dtn_office/employee/')?>">Back</a></p>
    <p><button type="submit"><?php echo $buttonLabel?></button></p>
</form>
