<?php
$departmentsData = $block->getDepartments();
$employeeCollection = $block->getEmployeeCollection();
$paramsData = $block->getParamsData();
$departmentId = (isset($paramsData['department_id']) ? $paramsData['department_id'] : '');
$dobDay = (isset($paramsData['dob_day']) ? $paramsData['dob_day'] : '');
$workingYears = (isset($paramsData['working_years']) ? $paramsData['working_years'] : []);
$workingYearsFrom = (isset($workingYears['from']) ? $workingYears['from'] : '');
$workingYearsTo = (isset($workingYears['to']) ? $workingYears['to'] : '');
$salary = (isset($paramsData['salary']) ? $paramsData['salary'] : []);
$salaryFrom = (isset($salary['from']) ? $salary['from'] : '');
$salaryTo = (isset($salary['to']) ? $salary['to'] : '');
$createdAt = (isset($paramsData['created_at']) ? $paramsData['created_at'] : []);
$createdAtFrom = (isset($createdAt['from']) ? date("Y-m-d",strtotime($createdAt['from'])) : '');
$createdAtTo = (isset($createdAt['to']) ? date("Y-m-d",strtotime($createdAt['to'])) : '');
?>
<form action="<?php echo $block->getUrl('dtn_office/employee/') ?>" id="employee-search">
    <p>
        Department:
        <select name="department_id">
            <option value="">Chose Department</option>
            <?php foreach ($departmentsData as $dId=>$departmentName): ?>
                <option value="<?php echo $dId?>" <?php if ($dId== $departmentId): ?>selected<?php endif;?>><?php echo $departmentName?></option>
            <?php endforeach;?>
        </select>
    </p>
    <p>

        Working years From: <input type="number" name="working_years[from]" value="<?php echo $workingYearsFrom; ?>">
    </p>
    <p>
        Working years To:<input type="number" name="working_years[to]" value="<?php echo $workingYearsTo; ?>">
    </p>
    <p>

        Salary From: <input type="number" name="salary[from]" value="<?php echo $salaryFrom; ?>">
    </p>
    <p>
        Salary To:<input type="number" name="salary[to]" value="<?php echo $salaryTo; ?>">
    </p>
    <p>
        Dob day:<input type="number" name="dob_day" min="1" max="31" value="<?php echo $dobDay; ?>">
    </p>
    <p>

        Signup From: <input type="date" name="created_at[from]" value="<?php echo $createdAtFrom; ?>">
    </p>
    <p>
        Signup To:<input type="date" name="created_at[to]" value="<?php echo $createdAtTo; ?>">
    </p>
    <p>
        <button id="search" type="submit">Search</button>
    </p>
</form>
<p class="reset"><a href="<?php echo $block->getUrl('dtn_office/employee/') ?>">Reset Filter</a></p>
<p class="add"><a href="<?php echo $block->getUrl('dtn_office/employee/add') ?>">Add New</a></p>
<table id="department-list">
    <tr>
        <th>ID</th>
        <th>Department</th>
        <th>Email</th>
        <th>Name</th>
        <th>Singup</th>
        <th>Working Years</th>
        <th>Dob</th>
        <th>Salary</th>
        <th>Note</th>
        <th>Action</th>
    </tr>
    <?php foreach ($employeeCollection as $employee): ?>

        <tr>
            <td><?php echo $employee->getId(); ?></td>
            <td>
                <?php $eDID = $employee->getDepartmentId()?>
                <?php echo (isset($departmentsData[$eDID]) ? $departmentsData[$eDID] : ''); ?>
            </td>
            <td>
                <?php echo $employee->getEmail(); ?>
            </td>
            <td>
                <?php echo $employee->getFirstname() . " " . $employee->getLastname(); ?>
            </td>
            <td>
                <?php echo date("Y-m-d",strtotime($employee->getCreatedAt())); ?>
            </td>
            <td>
                <?php echo $employee->getWorkingYears(); ?>
            </td>
            <td>
                <?php echo date("Y-m-d",strtotime($employee->getDob())); ?>
            </td>
            <td>
                <?php echo $employee->getSalary(); ?>
            </td>
            <td>
                <?php echo $employee->getNote(); ?>
            </td>
            <td>
                <a href="<?php echo $block->getUrl('dtn_office/employee/get', ['id' => $employee->getId()]) ?>">Update</a>
                <a href="<?php echo $block->getUrl('dtn_office/employee/delete', ['id' => $employee->getId()]) ?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>