#department-search {
  p{
    width: 20%;
    display: inline-block;
  }
}
#department-list{
  table *{
    border: 1px solid;
  }
  a{
    color: #000;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
    background: #ebf7e8;
  }
}
.add{
  a{
    border: 1px solid;
    padding: 5px;
    border-radius: 2px;
    color: #000;
  }

}