<?php
$department = $block->getDepartment();
$buttonLabel = 'Update';
$actionUrl = $block->getUrl('dtn_office/department/update',['id'=>$department->getId()]);
if (!$department->getId()){
    $buttonLabel = 'Add';
    $actionUrl = $block->getUrl('dtn_office/department/create');
}
?>
<form action="<?php echo $actionUrl?>">
    <p>Name
        <input type="text" name="name"  value="<?php echo $department->getName()?>">
    </p>
    <p><a href="<?php echo $block->getUrl('dtn_office/department/')?>">Back</a></p>
    <p><button type="submit"><?php echo $buttonLabel?></button></p>
</form>
