<?php
$departmentCollection = $block->getDepartmentCollection();
?>
<form action="<?php echo $block->getUrl('dtn_office/department/') ?>" id="department-search">
    <p>
        Name Start with: <input type="text" name="q" value="<?php echo $block->getSearchName(); ?>">
    </p>
    <p>

        ID From: <input type="number" name="range_id_from" value="<?php echo $block->getRangeIdFrom(); ?>">
    </p>
    <p>
        ID To:<input type="number" name="range_id_to" value="<?php echo $block->getRangeIdTo(); ?>">
    </p>
    <p>
        <button id="search" type="submit">Search</button>
    </p>
</form>
<p class="add"><a href="<?php echo $block->getUrl('dtn_office/department/add') ?>">Add New</a></p>
<table id="department-list">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    <?php foreach ($departmentCollection as $department): ?>
        <tr>
            <td><?php echo $department->getId(); ?></td>
            <td><?php echo $department->getName(); ?></td>
            <td>
                <a href="<?php echo $block->getUrl('dtn_office/department/get', ['id' => $department->getId()]) ?>">Update</a>
                <a href="<?php echo $block->getUrl('dtn_office/department/delete', ['id' => $department->getId()]) ?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>